.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.layout__main{
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    padding: 20px;

}
.post{
    margin-top: 20px;
    border-top:1px solid #D8D8D8;
    position: relative;
    padding-bottom: 58px;
    border-bottom: 1px solid #D8D8D8;
}
.post__header{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.post__header-content h2{
    color: gray;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    margin-top: 11px;
    margin-bottom: 51px;
}
.post__header-content-imgs{
    display: flex;
    align-items: center;
    column-gap: 22px;
}
.post__header-content-imgs img{
    cursor: pointer;
}
.post__btn{
    background-color: #A5D9FA;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    padding: 18px 30px;
    border-radius: 120px;
    border: none;
    position: absolute;
    right: 0;
}
.tweet__header{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.tweet__header-content h2{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.tweet__header-content span{
    color: gray;
}
.tweet__header-content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.tweet{
    padding-top: 30px;
    padding-bottom: 21px;
    border-bottom: 1px solid #D8D8D8;
}
.tweet__icons{
    display: flex;
    align-items: center;
    column-gap: 100px;
    margin-top: 22px;
    margin-left: 100px;
    color: gray;
}
.tweet__icons img {
    cursor: pointer;
    margin-right: 10px;
}
.like-active{
    filter: invert(18%) sepia(93%) saturate(4507%) hue-rotate(333deg) brightness(98%) contrast(90%);
}
.tweet__header-content-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.retwit-active{
    filter: invert(72%) sepia(68%) saturate(5737%) hue-rotate(105deg) brightness(92%) contrast(91%);
}