.left__sidebar-menu{
    position: fixed;
}
.left__sidebar-menu-item h3 a{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
    
}
.left__sidebar-menu-item{
    display: flex;
    align-items: center;
    column-gap: 21px;
    max-width: 159px;
    padding: 10px;
}
.left__sidebar-menu-item:hover{
    background-color: rgba(29, 161, 242, 0.1);
    color: #1DA1F2;
    border-radius: 20px;
    cursor: pointer;
    filter: invert(48%) sepia(89%) saturate(1579%) hue-rotate(176deg) brightness(98%) contrast(93%);

}

.left-sidebar-menu-btn{
    background-color: #1DA1F2;
    color: #FFFFFF;
    padding: 15px 90px;
    border-radius: 27px;
    border: none;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}
.profile{
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name span {
    color: gray;
}

.kebab-img{
    margin-left: 75px;
    margin-top: 15px;
}
.left__sidebar-menu-item img{
    width: 28px;
}