
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background-color:#202C37; */

html, body{
    overflow-x: hidden;
    padding: 0 15px;
}
.layout{
    display: grid;
    grid-template-columns: 275px auto 373px;
    margin: 0 auto;
}