
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background-color:#202C37; */
@font-face {
    font-family: 'Mulish', sans-serif;
    src: url(./assets/svg-icons/fonts/Mulish-Regular.ttf);
}

html, body{
    overflow-x: hidden;
    padding: 0 15px;
}
body{
    font-family: 'Mulish', sans-serif;  
}
.dark-mode{
    background-color: #0F0F0F;
    color: #ffffff;
}
.dark{
    background-color: #0F0F0F;
    color: #ffffff;
}
.light{
    background-color: #ffffff;
    color: #0F0F0F;
}